

.table-heading{
    align-items: center;
    /* height: 48px; */
    padding: 15px 0px;
    font-size: large;

    /* Black */
    background: #010000;
}

.table-data{
    align-items: center;
    /* height: 48px; */
    padding: 15px 0px;
    color: #19204E;
}

.table{
    overflow-x: scroll;
}

.table .lighter-bg{
    background: #E1E1E1;
}

.table .darker-bg{
    background: #D6D6D6;
}

.match-played, .wins {
    min-width: 56px;
}

@media only screen and (max-width:600px){
    .table-data{
        height: auto;
    }
    .table-heading{
        font-size: medium;
    }
}

