@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,900;1,500&display=swap');

.Background_Want_Img{
    width: 100%;    
    height: 50em;
    object-fit: cover;
}


.Background_Nit{
    background-image: url(./Assets_Images/Background_Nit.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.Director_Sir_Img{
    width: 30vw;
    height: 90vh;
    object-fit: cover;
    margin: 5.5em;
    margin-right: 7%;
}

.first_Writing{
    margin-left: 7%;
    margin-right: 5%;
}

.Want_to{
    color: white;
    font-family: Oswald;
}

.About_Inter_Nit{
    color: white;
    font-size: 3.2rem;
    font-family: Oswald;
}

.Long_Para{
    color: white;
    font-family: Oswald;
}


@media (max-width: 800px){
    .Background_Nit{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Director_Sir_Img{
        width: auto;
        overflow: hidden;
        margin-inline: 3em;
        object-fit: cover;
    }
}

@media (max-width: 470px){
    .Want_to{
        font-size: 1rem;
    }
    .About_Inter_Nit{
        font-size: 2.2rem;
    }
    .Long_Para{
        font-size: 0.8rem;
        line-height: 1.4rem;
    }
    .Director_Sir_Img{
        height: 20em;
        margin-top: 1em;
        margin-bottom: 3em;
    }
}

@media (max-width: 380px){
    .Want_to{
        font-size: 1rem;
    }
    .About_Inter_Nit{
        font-size: 1.9rem;
    }
    .Long_Para{
        font-size: 0.75rem;
        line-height: 1.4rem;
    }
    .Director_Sir_Img{
        height: 20em;
        margin-top: 1em;
        margin-bottom: 3em;
    }
}
