@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,900;1,500&display=swap');
  
.InterNIT{
    font-size: 6rem;
    color: #ffffff;
    position: absolute;
    top: 0.1em;
    right: 0.8em;
    z-index: 1;
    font-weight: 500;
    font-family: Oswald;
}

.imgslider{
    position: relative;
    overflow: hidden;
}

.sliderDiv{
    position: relative;
}

.TextForRotation{
    position: absolute;
    color: white;
    font-family: Oswald;
    top: 75%;
    font-size: 4rem;
    z-index: 1;
    left: 12%;
}

.nit_silchar{
    font-size: 6rem;
    color: #ffffff;
    position: absolute;
    top: 1.5em;
    right: 0.9em;
    z-index: 1;
    font-weight: 500;
    font-family: Oswald;
}

.tag {
    text-align: center;
}
  
.slick-slide img {
    margin: auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 870px) {
    .InterNIT{
        font-size: 4.5rem;
        font-weight: 100;
    }
    .nit_silchar{
        font-size: 4.5rem;
        font-weight: 300;
    }
    .TextForRotation{
        font-size: 3rem;
    }
    
}

@media (max-width: 640px){
    .slick-slide img{
        height: 30vh;
    }
}

@media (max-width: 590px) {
    .InterNIT{
        font-size: 3.8rem;
        font-weight: 100;
    }
    .nit_silchar{
        font-size: 3.8rem;
        font-weight: 100;
    }
    .TextForRotation{
        font-size: 2.4rem;
    }
} 

@media (max-width: 510px) {
    .InterNIT{
        font-size: 3.4rem;
        font-weight: 100;
    }
    .nit_silchar{
        font-size: 3.4rem;
        font-weight: 100;
    }
    .TextForRotation{
        font-size: 2.1rem;
    }
    .slick-slide img{
        height: 36vh;
    }
}

@media (max-width: 410px) {
    .InterNIT{
        font-size: 3rem;
        font-weight: 100;
    }
    .nit_silchar{
        font-size: 3rem;
        font-weight: 100;
    }
    .TextForRotation{
        font-size: 1.8rem;
        top: 80%;
    }
    .slick-slide img{
        height: 38vh;
    }
}

@media (max-width: 380px) {
    .InterNIT{
        font-size: 2.8rem;
        font-weight: 100;
    }
    .nit_silchar{
        font-size: 2.8rem;
        font-weight: 100;
    }
    .TextForRotation{
        font-size: 1.6rem;
        top: 80%;
    }
    .slick-slide img{
        height: 41vh;
    }
}

@media (max-width: 340px) {
    .InterNIT{
        font-size: 2.6rem;
        font-weight: 100;
    }
    .nit_silchar{
        font-size: 2.6rem;
        font-weight: 100;
    }
    .TextForRotation{
        font-size: 1.45rem;
        top: 85%;
    }
    .slick-slide img{
        height: 44vh;
    }
}