/* Rayyan Styling starts  */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body{
    transition: 0.5s ease;
}
::-webkit-scrollbar {
    display: none;
  }

.scores {
    /* max-height: 60vh; */
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

.score-container {
    position: relative;
    margin: 40px 0;
    min-height: 148px ;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1E1E1;
}

.score_input{
    width: 60px;
}

.match-title {
    font-family: "Roboto Condensed";
    width: 27.5%;
    position: absolute;
    top: -27px;
    left: 36.25%;
    z-index: 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.35em;
    color: white;
    font-family: sans-serif;
}

.match-details {
    font-family: "Roboto Condensed";
    font-size: 1.15em;
    font-weight: bold;
    color: #19204E;
    position: absolute;
    top: -1.7em;
    left: 0;
}

.team1 {
    font-family: "Roboto Condensed";
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    width: 37.5%;
}

.team2 {
    font-family: "Roboto Condensed";
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 37.5%;
    text-align: left;
}

.score-box {
    font-weight: bold;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.score-container svg{
    width: 25px;
    height: 25px;
}

.score-container .btns{
    top: 10px;
    right: 0px;
}

.vs {
    font-family: "Roboto Condensed";
    font-size: 1.2em;
    font-weight: bold;
}

.score {
    font-family: 'Oswald';
    padding: 0.8em;
    font-size: 2em;
    font-weight: bold;
}

.team-name1 {
    font-weight: bold;
    font-size: 1.3em;
    margin: auto 1em auto 0;
}

.team-name2 {
    font-weight: bold;
    font-size: 1.3em;
    margin: auto 0 auto 1em;
}

.team-logo {
    height: 4.5em;
    width: 4.5em;
    clip-path: circle();

}

.sport-categories {
    font-family: 'Oswald', sans-serif;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 15vh;
    width: 80%;

}

.sport-cat-container {
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.sport-cat-container li {
    font-size: 1.5em;
    color: #878787;
    font-weight: bold;
    list-style: none;
}

.sport-cat-container li:hover {
    text-decoration: underline;
    color: #19204E;
}

.sport-cat-container li:focus {
    text-decoration: underline;
    color: darkblue;
}

.sport-cat-container li:active {
    text-decoration: underline;
    color: darkblue;
}

.sort-cat {
    margin: 0 auto 0 auto;
    width: 85%;
}

.sort-cat span {
    font-weight: bold;
    font-size: 1.1em;
}

/* Style The Dropdown Button */
.dropbtn {
    margin-left: 30px;
    font-family: "Roboto Condensed";
    width: 176px;
    height: 50px;
    background-color: #19204E;
    color: white;
    padding: 16px 16px 46\0px 16px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.sort-by{
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 1.1em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 176px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family: "Roboto Condensed";
    text-align: center;
    height: 50px;
    width: 100%;
    margin-left: 30px;
    font-size: 1.2em;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #19204E;
    border-bottom: 1px solid white;
}

.show{
    display: block;
}
.invert{
    transform: rotate(180deg);
}

.add-info{
    font-family: "Roboto Condensed";
    font-size: 1.2em;
    font-weight: bold;
    width: 20%;
    position: absolute;
    bottom: 7%;
    left: 40%;
}

.selected{
    text-decoration: underline;
    color:#19204E !important;
}

@media only screen and (max-width: 600px) {
    
    .sport-categories{
        width: 100%;
    }
    .sport-cat-container li{
        font-size: 1.1em;
    }
    .match-details{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 0.85em;
    }
    .match-title{
        font-size: 0.9em;
        top: -2em;
    }
    .score-container{
        font-size: 0.7em;
        min-height: 100px !important; ;

    }
    .team1{
        width: 30%;
        font-size: 0.7em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .team2{
        width: 30%;
        font-size: 0.7em;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .team-name1{
        margin: 0 auto 0.5em auto;
    }
    .team-name2{
        margin: 0 auto 0.5em auto;
    }
    .score-box{
        width: 35%;
    }
    .score{
        padding: 0.5em;
    }
    .sort-cat{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown-content {
        margin-left: 0;
    }
    .dropbtn {
        margin-left: 0;
    }
  }
  

/* Rayyan Styling ends */