.footer-main{
background-color: black;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
margin-bottom: 0%;
padding-top: 2rem;
padding-bottom: 3rem;
}
.footer-main a{
    text-decoration: none;
    color: white;

}
.footer-main h2{
    color: red;
}
.footer-address{
    margin-top: 0%;
    padding: 0%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left:0%;
}
.footer-address h2{
    margin-bottom: 2.5rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-links h2{
    margin-bottom: 1.5rem;
}
.footer-btns{
    padding-left: 2rem;

}
.footer-btns a{
    padding: 0.5rem;

}
.footer-link-btn{
    border-radius: 100%;

}
.icon-btn-1,.icon-btn-2,.icon-btn-3,.icon-btn-4{
    transition: 0.2s;
}


.icon-btn-1:hover{
    color: #0A66C2;
    transform: scale(0.8);
    transition: 0.2s;
    
}
.icon-btn-2:hover{
    color: #00acee;
    transform: scale(0.8);
    transition: 0.2s;
    
}
.icon-btn-3:hover{
    color:#3b5998;
    transform: scale(0.8);
    transition: 0.2s;
    
}
.icon-btn-4:hover{
    color: #983d3b;
    transform: scale(0.8);
    transition: 0.2s;
}
.footer-right h2{
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
}
.footer-loc-btn{
    margin-right: 1rem;
}
.map{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 890px){
    .footer-main{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .footer-right h2{
        margin-top: 1.5rem;
    }
    .footer-address{
        padding-left: 0.5rem;
        padding-right: 3rem;
    }
    .footer-links{
        padding-left: 0.5rem;
        padding-right: 1rem;


    }
    .footer-links{
        display: flex;
        justify-content: center;

    }
   
    
    
}