.spon-main{
    margin-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.spon-partners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title-spon h2{
    padding-bottom: 2rem;
    font-weight: 700;
}
.title-spon{
    margin-bottom: 2rem;
}
.sponsor-img{
    width: 15rem;
    padding: 1rem;
}
.spon-partners h2{
    padding-bottom: 1rem;
    font-weight: 700;

}