.card-image img{
    width:20rem;
    height:22rem;   
    margin: 0%;
    padding: 0%;
}
.card-container{
    max-width: fit-content;
    transition: 0.3s;
    
}
.card-container:hover{
    transform: scale(1.05);
    transition: 0.3s;
   
}
.card-title{
    background-color: #FCB300;;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: x-large;
    font-weight: 600;
}
.card-btns{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}
.card-name {
    display: flex;

    /* width: fit-content; */
    justify-content: center;
    align-items: center;
}
.card-name ul{
    padding: 0%;
    margin: 0%;
    color: white;
    font-size: larger;

}
.team-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 1rem;
}
.team-main h2{
    margin: 1.5rem;
}
.team-main-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
    flex-wrap: wrap;
}
.card-link-btn{
    color: white;
    transition: 0.2s;
}
.card-link-btn:hover{
    transform: scale(0.8);
    transition: 0.2s;

}
