.games-nav li{
    font-size: 36px;
    list-style: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    cursor: pointer;

    /* Dark Gray2 */
    color: #878787;
}


.games-nav .container{
    max-width: 900px;
}


.stats-games-sel{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-decoration-line: underline;

    /* Dark Blue */
    color: #19204E !important;
}