@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.achievements-bg {
  background-image: url("../../assets/images/Home/AchievementsBG.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 2rem;
  /* height: 54.027777777vw; */
  background-attachment: fixed;
  background-size: cover;
}

.achievements-heading {
  color: #ffffff;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin: 0.125rem;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .achievements-heading {
    font-size: 2rem;
  }
}
