

.table-heading{
    align-items: center;
    height: 48px;
    font-size: large;

    /* Black */
    background: #010000;
}

.table-data{
    align-items: center;
    height: 48px;
    color: #19204E;
}

.table .lighter-bg{
    background: #E1E1E1;
}

.table .darker-bg{
    background: #D6D6D6;
}
